[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
lxml = "*"
"beautifulsoup4" = "*"
pytest = "*"
pylint = "*"
pytest-cov = "*"
pytest-pylint = "*"

[dev-packages]

[requires]
python_version = "3.7"

[scripts]
test = "py.test ./ -v --pylint --pylint-j 0 --pylint-rcfile=./pylintrc --cov ./"
